@import '~antd/dist/antd.css';
@import './styles//css/base.scss';

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  .user-info{
    position: relative;
    color: #fff;
    cursor: pointer;
    .logout{
      position: absolute;
      bottom: -40px;
      color: #000;
      right: -36px;
      width: 80px;
    }
  }
}
.ant-layout{
  overflow: hidden;
  height: 100vh;
}
.ant-layout-sider-children{
  height: calc(100vh - 50px);
}
.business-cont{
  // height: 100vh;
  height: calc(100vh - 90px);
  overflow-y: auto;
  width: 100%;
}
.ant-layout-header{
  height: 50px !important;
}